*.zip filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
ufo[[:space:]]sighthings/DAUP_CSV_Project.ipynb filter=lfs diff=lfs merge=lfs -text
crop[[:space:]]detection/dataset.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
